body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#ofertas{ 
    animation: initialcolor 10s infinite
}

h4 {
    padding: 0;
    margin: 0;
    position: relative; 
    animation: moverfrase 10s linear infinite;
}


@keyframes initialcolor 
{ 0% { background-color: rgb(255, 198, 41); } 50% { background-color: #ff7300; } 100% { background-color: rgb(255, 198, 41); } 
}

@keyframes moverfrase {
    0% { transform: translate(-200px, 0);}
    100% {transform: translate(1200px, 0);}
}


#navegacion {
    background-color: #000000;
    color: hwb(242 71% 0%);
    padding: 10px;
    font-family:'Times New Roman', Times, serif;  
    border-bottom: 2px solid;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline; 
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}

nav a:hover {
    text-decoration: underline;
}

h1 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
  
}

#buscador {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 15px;
    margin-right: 40px
}
#titulo {
    position: fixed;
}

#abc {
    justify-content: center
}

nav{
    display: flex;
    justify-content: center;
}

